// src/styles/_variables.scss

// Fonte
$font-family: 'Arial', sans-serif;

// Tamanhos
$calendar-size: 500px;
$day-size: 100px;
$gap-size: 1px;
$padding-calendar: 10px;

// Cores
$background-color: #fff;
$text-color: #333;
$day-bg: #eee;
$hover-color: #ffbfcb;

// Borda e tipografia dos dias
$day-border: 1px solid black;
$day-font-size: 30px;

// Animação
$animation-duration: 0.5s;
