/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Altura total e centralização do body */
body,
html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #fff; /* opcional */
}

/* Importa o main.scss que tem o estilo do calendário */
@import 'main';
